@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-light dark:bg-dark;
  }

  a {
    @apply text-gray-500 hover:opacity-60;
    transition: opacity 0.3s linear;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-dark dark:text-light;
  }

  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-semibold;
  }

  h4 {
    @apply text-lg font-semibold;
  }

  h5 {
    @apply text-base font-semibold;
  }

  h6 {
    @apply text-base font-normal;
  }

  .unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .card {
    @apply border border-gray-200 dark:border-gray-700 shadow-lg rounded-2xl;
  }

  .btn {
    @apply unselectable py-2 px-4 rounded-2xl font-semibold shadow-md focus:outline-none;
    display: inline-flex;
    align-items: center;
    white-space: break-spaces;
    transition: all 0.3s ease-in-out;
  }

  .btn-primary,
  .btn-secondary,
  .btn-info,
  .btn-dark,
  .btn-light,
  .btn-outline-primary,
  .btn-outline-secondary,
  .btn-outline-dark,
  .btn-outline-light {
    @apply btn;
  }

  
  .btn-primary:hover,
  .btn-secondary:hover,
  .btn-info:hover,
  .btn-dark:hover,
  .btn-light:hover {
    filter: brightness(0.8);
  }
  
  .btn-primary:active,
  .btn-secondary:active,
  .btn-info:active,
  .btn-dark:active,
  .btn-light:active {
    filter: brightness(0.6);
  }
  
  .btn-primary > svg,
  .btn-secondary > svg,
  .btn-info > svg,
  .btn-dark > svg,
  .btn-light > svg {
    @apply stroke-white dark:stroke-gray-300;
  }

  .btn-primary {
    @apply bg-primary text-white dark:text-gray-300 focus:ring-4 focus:ring-opacity-50 focus:ring-primary;
  }

  .btn-secondary {
    @apply bg-secondary text-white dark:text-gray-300 focus:ring-4 focus:ring-opacity-50 focus:ring-secondary;
  }

  .btn-info {
    @apply bg-info text-white dark:text-gray-300 focus:ring-4 focus:ring-opacity-50 focus:ring-info;
  }

  .btn-dark {
    @apply bg-dark text-light focus:ring-4 focus:ring-opacity-50 focus:ring-dark;
  }

  .btn-light {
    @apply bg-light text-dark focus:ring-4 focus:ring-opacity-50 focus:ring-light;
  }

  .btn-outline-primary {
    @apply bg-transparent hover:bg-primary text-primary dark:text-gray-300 hover:text-white border border-primary focus:ring-4 focus:ring-opacity-50 focus:ring-primary;
  }

  .btn-outline-primary:hover > svg {
    @apply stroke-white dark:stroke-gray-300;
  }

  .btn-outline-primary > svg {
    @apply stroke-primary dark:stroke-gray-300;
    transition: all 0.3s ease-in-out;
  }

  .btn-outline-secondary {
    @apply bg-transparent hover:bg-secondary text-secondary dark:text-gray-300 hover:text-white border border-secondary focus:ring-4 focus:ring-opacity-50 focus:ring-secondary;
  }

  .btn-outline-secondary:hover > svg {
    @apply stroke-white dark:stroke-gray-300;
  }

  .btn-outline-secondary > svg {
    @apply stroke-secondary dark:stroke-gray-300;
    transition: all 0.3s ease-in-out;
  }

  .btn-outline-dark {
    @apply bg-transparent hover:bg-dark text-dark hover:text-white border border-dark focus:ring-4 focus:ring-opacity-50 focus:ring-dark;
  }

  .btn-outline-dark:hover > svg {
    @apply stroke-white;
  }

  .btn-outline-dark > svg {
    @apply stroke-dark;
    transition: all 0.3s ease-in-out;
  }

  .btn-outline-light {
    @apply bg-transparent hover:bg-light text-light hover:text-dark border border-light focus:ring-4 focus:ring-opacity-50 focus:ring-light;
  }

  .btn-outline-light:hover > svg {
    @apply stroke-dark;
  }

  .btn-outline-light > svg {
    @apply stroke-white;
    transition: all 0.3s ease-in-out;
  }

  .btn-flat {
    @apply btn border-0 border-gray-200 dark:border-gray-800;
  }

  .btn-flat-primary {
    @apply btn-flat  justify-center text-primary hover:bg-primary hover:text-light focus:ring-4 focus:ring-opacity-50 focus:ring-primary;
  }

  .btn-flat-secondary {
    @apply btn-flat  dark:border-gray-800  justify-center text-secondary hover:bg-secondary hover:text-light focus:ring-4 focus:ring-opacity-50 focus:ring-secondary;
  }

  input::placeholder,
  textarea::placeholder {
    @apply text-gray-400 dark:text-gray-300/60;
  }

  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    @apply text-gray-400 dark:text-gray-300/60;
  }

  input::-moz-placeholder,
  textarea::-moz-placeholder {
    @apply text-gray-400 dark:text-gray-300/60;
  }

  .form-control.is-valid {
    @apply focus:outline-none focus:ring-4 focus:ring-opacity-50 focus:ring-success;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }

  .form-control.is-invalid {
    @apply focus:outline-none focus:ring-4 focus:ring-opacity-50 focus:ring-error;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }

  .form-control, .ProseMirror {
    @apply border-gray-300 dark:border-gray-700 #{!important};
    @apply rounded-xl shadow-sm border bg-light dark:bg-dark text-gray-600 dark:text-gray-200 focus:outline-none focus:ring-4 focus:ring-opacity-30 focus:ring-primary;
    transition: box-shadow 0.3s ease-in-out;
  }
}
